

/*BODY SET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    min-height: fit-content;
}
/*END BODY SET*/

/*DIVISOR DE SECCIONES*/
.separador{
    padding: 4rem;
    background: linear-gradient(180deg, rgb(59, 57, 57), white); 
}

/*LOGOTIPO*/
.imagenPngLogo{
    padding-top: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    opacity: 0.7;
}

/*BARRA DE NAVEGACION*/
.navbar-nav{
    font-family: 'Michroma', sans-serif;
    padding: 20px;
    font-size: 25px;
}
.nav-item{
    padding: 0.2rem;
    border-width: 0.2px;
    border-radius: 10px;
    border: 2.5px solid rgb(59, 57, 57);
}
.botoninfo{
    background: linear-gradient(180deg, rgb(59, 57, 57), rgb(100, 98, 98));
}

/*CONAINER GENERICO DEL SITIO*/
.contenedorDeSeccion{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*PANEL DE CLIENTES*/
.cajaPaneldeClientes{
    max-width: 1550px;
    margin: auto;
    padding: 7cm;
    padding-bottom: 20rem;
    background: linear-gradient(70deg, rgb(59, 57, 57), white);
    font-family: 'Coda', cursive;
}
h4{
    text-align: left;
    text-shadow: 4px 3px #696767;
    font-family: 'Coda', cursive;
}
h2{
    text-align: center;
    text-shadow: 1px 1px #696767;
    font-family: 'Coda', cursive;
    padding-block: 1cm;
}
/*END PANEL DE CLIENTES*/

/*DISEÑOS EN STOCK*/
.cajaListado{
    padding-bottom: 5rem;
    text-align: center;
    font-family: 'Coda', cursive;
}
/*END DISEÑOS EN STOCK*/

/*FOOTER*/
.footer{
    padding: 2cm;
    background: linear-gradient(360deg, rgb(59, 57, 57), white);
}